
/* ---Header---*/
/* ---Navigation---*/
nav {
  width: 100%;
  height: 61px;
  position: relative;
}
header {
  height: 0px;
}



/* ---Mobile Menu---*/
.menu {
  padding-left: 5%;
  padding-top: 5px;
  width: 50px;
  position: fixed;
  left: 0;
  top: 0;
  .menu-button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:  #314584;
    position: relative;
    cursor: pointer;
    z-index: 21;
  }
}

.menu-button span, .menu-button span:before, .menu-button span:after {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
}

.menu-button span:before, .menu-button span:after {
  content: '';
  transition: 0.5s;
}

.menu-button span:before {
   transform: translateY(-5px);
 }

.menu-button span:after {
  transform: translateY(5px);
}


.menu-button_active:hover {
  transition: 300ms;
  filter: brightness(0.7);
}

.menu_active .menu-button_active {
  background-color: transparent;
}

.menu_active .menu-button_active::before {
  top: 0;
  transform: rotate(45deg);
}

.menu_active .menu-button_active::after {
  top: 0;
  transform: rotate(-45deg);
}


.menu_nav {
  margin-top: -60px;
  padding-top: 80px;
  position: fixed;
  z-index: 20;
  flex-flow: column;
  height: 100%;
  background-color: #2a2a2a;
  overflow-y: auto;
  left: 0px;
  display: none;
}

.menu_nav_active {
  left: 0;
  display: block;
}

.menu-item__link {
  padding: 30px;
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20.76px;
  text-decoration: none;
  color: #314584
}

.menu-item__link .menu-button:hover {
  transition: 300ms;
  filter: brightness(0.7);
}

.menu_overplay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.menu_active .menu_overplay{
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

/* ---//Mobile Menu---*/



.logo {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 20px;
  width: 69px;

}
.main_nav {
  display: none;
}

.navigation {
  width: 550px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 210px;

  .navigation-item {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.76px;


    .navigation-item__link {
      text-decoration: none;
      color: #314584
    }
  }
}

.control-buttons {
  display: none;
}




@media (min-width: 768px) {
  header {
    margin-bottom: 190px;
  }
  nav {
    height: 180px;
  }
  .main_nav {
    display: block;
  }
  .menu {
    display: none;
  }
  .logo {
    top: 80px;
    left: 6.5%;
  }

  .navigation {
    left: 19.3%;
    top: 80px;
  }

  .control-buttons {
    display: none;
    width: 283px;
    height: 61px;
    position: absolute;
    top: 65px;
    right: 14%;
    justify-content: space-between;
    .language{
      width: 34px;
      height: 13px;
      position: relative;
      margin-top: 17px;
      p {
        display: block;
        color: #314584;
        font-family: "Work Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
      }

      img {
        display: block;
        position: absolute;
        right: 4px;
        top: 8px;
      }
    }

    .contact-us {
      margin-top: -4px;
      width: 201px;
      height: 61px;
      position: relative;
      &:hover {
        box-shadow: 0 5px 10px rgba(25, 45, 51, 0.15);
      }
      p {
        display: block;
        position: absolute;
        top: 20px;
        left: 34px;
        font-family: "Work Sans", sans-serif;
        font-size: 18px;
        font-weight: 600;
      }

      img {
        display: block;
        position: absolute;
        bottom: 21px;
        right: 24px;
      }
    }

  }
}

@media (min-width: 1248px) {
  .control-buttons {
    display: flex;
  }
}
/* ---//Navigation---*/




  .header-image {
    display: none;
  }

.about-us--info {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  .about-us--info-tittle {
    margin-top: 60px;
    color: #314584;
    font-family: "Work Sans", sans-serif;
    font-size: 53px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .about-us--info-description {
    color: #6e757a;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  button {
    outline: none;
    width: 120px;
    height: 40px;
    background-color: white;
    border: none;
    color: #314584;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
    transition: 0.3s;
    &:hover {
      background-color: #ff3946;
      border-radius: 160px 160px / 200px;
      box-shadow: 0 5px 10px rgba(255, 57, 70, 0.15);
      color: white;
    }
  }
}

.ad1 {
  margin-top: -360px;
  margin-left: 60%;
}

@media (max-width: 1920px) {
  .ad1 {
    display: none;
    margin-top: 0;
    margin-left: 0;
  }
  .slick-initialized {
    display: none;
  }
  .slider {
    display: none;
  }
  .slick-slider {
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    height: 600px;
  }
}

@media (min-width: 768px) {
  header {
    height: 1000px;
  }
  .about-us {
    width: 553px;
    height: 356px;
    margin-top: 155px;
    margin-left: auto;
    margin-right: auto;
    .about-us--info {
      width: 553px;
      .about-us--info-tittle {
        font-size: 73px;
        height: 167px;
        width: 553px;
        line-height: 95.52px;
        margin-bottom: 40px;
        letter-spacing: 0.73px;
      }
      .about-us--info-description {
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: 1248px) {
  .about-us--info {
    padding-top: 100px;
  }
  .about-us {
    margin-left: 19%;

  }
}

@media (max-width: 1920px) {
  .ad1 {
    margin-top: -360px;
    margin-left: 60%;
}

  .slick-initialized {
    width: 40vw;
  }
  .slick-slide {
    width: 50vw;
  }
  .slider {
    display: block;
    margin-left: 60%;
    width: 700px;
    .slider-item {
      width: 700px;
    }
  }
  .header-image {
    display: block;
    position: absolute;
    top: 235px;
    right: 6.7%;
  }
}

/* ---//Header---*/












/* ---Portfolio---*/
.portfolio {
  width: 371px;
  margin-left: auto;
  margin-right: auto;

  .portfolio-tittle {
    width: 305px;
    height: 95px;
    color: #314584;
    font-family: "Work Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .portfolio-examples {
    display: grid;
    grid-template-columns: 371px;
    grid-gap: 15px;
    height: auto;
    margin-bottom: 20px;
    .portfolio-item {
      max-width: 371px;
      height: 281px;
      background-color: #c3d0d8;
    }
  }

  button {
    border: none;
    background-color: white;
    outline: none;
    display: block;
    margin-left: auto;
    height: 40px;
    color: #ff3946;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-right: auto;
    margin-bottom: 50px;
    transition: 0.3s;
    &:hover {
      background-color: #ff3946;
      color: white;
      border-radius: 160px 160px / 200px;
      box-shadow: 0 5px 10px rgba(255, 57, 70, 0.15);
    }
  }

}

/* ---//Portfolio---*/

@media (min-width: 768px) {
  .portfolio {
    width: 742px;
    margin-top: 190px;

    .portfolio-examples {
      grid-template-columns: 371px 371px;
      grid-gap: 15px;
      margin-bottom: 40px;
    }
  }

}

@media (min-width: 1248px) {
  .portfolio {
    width: 1174px;
    .portfolio-tittle {
      font-size: 48px;
      margin-bottom: 88px;
    }

    .portfolio-examples {
      display: grid;
      grid-template-columns: 371px 371px 371px;
      grid-gap: 15px;
      margin-bottom: 40px;
    }
    .load-more {
      margin-bottom: 300px;
    }
  }
}

@media (max-width: 371px) {
  .portfolio {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    .portfolio-tittle {
      width: 255px;
      height: 112px;
    }
    .portfolio-examples {
        width: 256px;
      .portfolio-item {
        width: 256px;
        height: 194px;
        margin: 0 0;
      }
    }
  }
}








/* ---Contact Us---*/
.contact-us {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;


  p {
    color: #ff3946;
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .contact-us-tittle {
    width: 235px;
    height: 95px;
    color: #314584;
    font-family: "Work Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
  }

  .contact-form {



    .contact-info {
      width: 100%;
      #email {
        outline: none;
        width: 100%;
        background-color: #f4fafe;
        margin-bottom: 10px;
      }

      #subject {
        outline: none;
        width: 100%;
        background-color: #f4fafe;
        margin-bottom: 10px;
      }
    }

    #text {
      outline: none;
      width: 100%;
      background-color: #f4fafe;
      font-family: "Work Sans", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 52px;
      color: #314584;
      border: none;
      padding-left: 10px;
      margin-bottom: 20px;

    }

    #submit-button {
      display: block;
      outline: none;
      width: 200px;
      height: 55px;
      background-color: #ff3946;
      color: white;
      border-radius: 160px 160px / 200px;
      box-shadow: 0 5px 10px rgba(255, 57, 70, 0.15);
      font-family: "Work Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px;
      transition: 0.3s;

    }

    input[type="text"], input[type="email"] {
      font-family: "Work Sans", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 52px;
      color: #314584;
      border: none;
      padding-left: 10px;
    }
  }
}

@media (min-width:1248px) {
  .contact-us {
    width: 1174px;
    height: 473px;
    margin-top: auto;
    margin-left: auto;
    p {
      font-size: 18px;
    }
    .contact-us-tittle {
      font-size: 48px;
      margin-bottom: 50px;
    }
    .contact-form {
      width: 1174px;
      height: 340px;
      .contact-info {
        width: 1174px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        #email {
          width: 571px;
          height: 61px;
        }
        #subject {
          width: 571px;
          height: 61px;
          margin-right: -11px;
        }
      }
      .text {
        height: 121px;
      }
      #text {
        resize: none;
      }
    }
  }
}

/* ---//Contact Us---*/

/* ---Footer---*/

footer {
  width: 100%;
  height: 150px;
  background-color: #314584;
  .footer-info {
    padding-top: 10px;
    width: 265px;
    margin-left: auto;
    margin-right: auto;
    .logo-text {
      text-align: center;
      color: white;
      font-family: "Work Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    h3 {
      color: #ff3946;
      font-family: "Work Sans", sans-serif;
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 15px;
      text-align: center;
    }
    nav {
      display: none;
    }
    .establish-year {
      text-align: center;
      color: #ffffff;
      font-family: "Work Sans", sans-serif;
      font-size: 8px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .social-media {
      display: flex;
      justify-content: space-between;
      a {

        img {
          display: block;
        }
        #twitter {
          padding-top: 5px;
        }
      }
      }
    }
  }


@media (min-width: 768px) {
  footer {
    height: 400px;
    .footer-info {
      width: 550px;
      padding-top: 70px;
      .logo-text {
        font-size: 18px;
      }
      h3 {
        font-size: 48px;
        margin-bottom: 45px;
      }
      nav {
        height: 70px;
        left: auto;
        right: auto;
        display: flex;
        .navigation {
          left: 0;
          top: 0;
          .navigation-item {
            .navigation-item__link {
              color: white;
            }
          }
        }

      }
      .establish-year {
        font-size: 12px;
        margin-bottom: 45px;
      }
      .social-media {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

}




/* ---//Footer---*/